html {
  background: url(./background.jpg) no-repeat fixed;
   background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
}
body {
  padding: 0;
}

.letters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

Button {
  border-radius: 50%;
  padding: 30px;
  background-color: red;
  color: beige;
}
.game h1{
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
}
.game{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  padding-bottom: 80px;

}
div.selectLevel {
  display: flex;
  justify-content: center;
}
h1 {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 100px;
} 
.main-container {
  align-items: center;
}
.game-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  display: block;
  margin-left: auto;
  margin: auto;
  filter:drop-shadow(2px 1.2px #ff0000)
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

button.letter:hover{background-color:orange;}

.results {
  align-items: center;
  width: 500px; 
}

.header {

height: auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  opacity: .7;
  
}
.add-game-form {
  padding: 3rem; 
  margin: 4rem 0;
  background-color: rgba(181, 250, 181, 0.5);
}

.add-game-form form {
  display: flex;
  justify-content: center;
  
}

.add-game-form input {
  margin-right: 2rem;
  flex: 3;
  height: 70px;
  width: 270px;
  opacity: .7;
  text-align: center;
  padding: 20px;
}

.add-game-form button {
  width: 170px;
  opacity: .7
  ;

}


